* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "SUSE", sans-serif;
    background-color: #4e6d6b;
}

body main {
    width: 348px;
    height: 500px;
    padding: 2rem 20px;
    background-color: #d1b8a8;
    border-radius: 8px;
}

main #input-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#input-div #user-input {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 6px;
    background-color: #cac8c8;
}

#input-div .result {
    position: absolute;
    right: 15px;
    color: #4b4848;
    font-size: 25px;
    font-weight: 600;
}

main .calculator-btns {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.9rem;
}

main .btn {
    color: #fff;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
}

.calculator-btns .btn, .clear-btn, .equal-btn {
    width: 100%;
    background-color: gray;
}

main .delete.btn {
    display: block;
    float: right;
    width: 84px;
    padding: 10px;
    margin: 10px 0;
    background-color: #978a6c;
}

.calculator-btns .btn.symbol, #equal-btn {
    background-color: #4b4848;
}

.calculator-btns .clear.btn {
    background-color: #fa6666;
}